#cuadro{
    width: 550px;
    border-bottom: 1px solid #58acfa;
    border-top: 1px solid #58acfa;
    border-left: 1px solid #58acfa;
    border-right: 1px solid #58acfa;
    margin: auto;
    margin-top: 190px;
    border-radius: 10px;
}
#cabeza{
    width: 548px;
    background: #58acfa;
    height: 35px;
    border-radius: 10px 10px 0px 0px;
    padding-left: 11px;
    padding-top: 6px;
    color: white;
    text-align: center;
}
#cuerpo{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 25px;
}
